@mixin slide-down {
    transform: translateY(0);
    transition-property: transform;
    transition-duration: 0.75s;
    transition-timing-function: $easeOutQuad;
}

@mixin slide-up {
    transform: translateY(-0.5rem);
    transition-property: transform;
    transition-duration: 0.75s;
    transition-timing-function: $easeOutQuad;
}

@mixin control_scale_up {
    transform: scale(1.080, 1.080);
    transition-property: transform;
    transition-duration: 0.75s;
    transition-timing-function: $easeOutQuad;
}

@mixin big_scale_up {
    transform: scale(1.025, 1.025);
    transition-property: transform;
    transition-duration: 0.75s;
    transition-timing-function: $easeOutQuad;
}

@mixin small_scale_up {
    transform: scale(1.008, 1.008);
    transition-property: transform;
    transition-duration: 0.75s;
    transition-timing-function: $easeOutQuad;
}

@mixin scale_down {
    transform: scale(1.0, 1.0);
    transition-property: transform;
    transition-duration: 0.75s;
    transition-timing-function: $easeOutQuad;
}

@mixin projects__slide-animation--up {
    animation-name: item-slide-up;
    animation-duration: 1s;
    animation-timing-function: $easeOutQuad;
    animation-fill-mode: forwards;
}

@mixin projects__slide-animation--down {
    animation-name: item-slide-down;
    animation-duration: 1s;
    animation-timing-function: $easeOutQuad;
    animation-fill-mode: forwards;
}

@keyframes item-slide-up {
    0% {
        transform: translateY(9.5rem);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes item-slide-down {
    0% {
        transform: translateY(-9.5rem);
    }

    100% {
        transform: translateY(0);
    }
}