.projects {
    grid-area: projects;
    background: $bg_block;
    border-radius: $br_block;
    box-shadow: $bs_block;
    @include scale_down;

    &:hover {
        @include small_scale_up;
    }

    &__header {
        position: relative;
    }

    &__title {}

    &__control {
        position: absolute;
        top: 1rem;
        left: 30.5625rem;

        display: flex;
        justify-content: space-between;
        width: 4rem;
    }

    &__control-element {
        

        height: 1.75rem;
        width: 1.75rem;

        background: $bg_block_el;
        border-radius: $br_block_el;
        box-shadow: $bs_block_el;

        @include scale_down;
    }

    &__control-element:hover {
        @include control_scale_up;
    }

    &__control-arrow{
        width: 1.75rem;
        height: 1.75rem;
    }

    &__control-arrow--up{
        transform: rotate(0deg);
        cursor: n-resize;
    }

    &__control-arrow--down{
        transform: rotate(180deg);
        cursor: s-resize;
    }

    &__items {
        height: 47.5rem;

        display: grid;
        grid-template-columns: 50.5rem;
        grid-auto-rows: 8rem;
        justify-content: center;
        gap: 1.5rem;

        overflow: hidden;
    }

    &__item {
        padding: 1rem 1.5rem;

        background: $bg_block_el;
        border-radius: $br_block_el;
        box-shadow: $bs_block_el;

        display: grid;
        grid-template-columns: 16.125rem 1fr;
        grid-template-rows: 6rem;
        gap: 1.5rem;

        @include scale_down;
    }

    &__item:hover {
        @include small_scale_up;
    }

    &__left-side {}

    &__name {
        font-size: 1.125rem;
        font-weight: 700;
    }

    &__name--short{
        height: 2.625rem;
    }

    &__link-group {
        padding: 0.25rem 0 0.4375rem 0;
    }

    &__source {
        display: inline-block;
        font-size: 1rem;
        color: $color_link;
        width: 3.0625rem;
    }

    &__link {
        display: inline-block;
        font-size: 1rem;
        color: $color_link;
        width: 1.5625rem;
    }

    &__tools-group {}

    &__tools {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 0.5rem;
        float: left;
    }

    &__description {
        font-size: 1rem;
        text-align: justify;
    }

    &__link-group--one-line {
        position: relative;
        top: -0.5rem;
        display: inline-block;
    }

    &__tools-group--one-line {
        display: inline-block;
        padding: 0.5625rem 0 0 0.25rem;
    }
}