@import url(../fonts/Roboto/Roboto.css);

// bg - background
$bg_main: #D5BDAF;
$bg_block: #E3D5CA;
$bg_block_el: $bg_main;

$color_link: #C1121F;

// br - border-radius
$br_block: 1rem;
$br_block_el: 0.625rem;


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font: 400 1rem "Roboto", sans-serif;
    background: $bg_main;
}

.wrapper {
    padding-top: 1.5rem;
}

.content {
    max-width: 81rem;
    margin: 0 auto;
}

.title {
    font: 400 1.5rem "Roboto", sans-serif;
    padding: 1rem 0;
    text-align: center;
}

// ********************

.container {
    display: grid;
    grid-template-columns: 26rem 53.5rem;
    grid-template-rows: 24rem 12.75rem 11.5rem;
    grid-template-areas:
        "info projects"
        "about-me projects"
        "contact projects";
    gap: 1.5rem;
}

.info {
    grid-area: info;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &__photo {
        width: 15.125rem;
        height: 15.125rem;
    }

    &__name {
        font: 400 2rem "Roboto", sans-serif;
    }

    &__link {
        display: flex;
        justify-content: space-between;
        width: 17.5rem;
    }

    &__link-social {
        margin-bottom: -0.3125rem;
    }

    &__social-image {
        width: 3.5rem;
        height: 3.5rem;
    }
}


.about-me {
    grid-area: about-me;
    background: $bg_block;
    border-radius: $br_block;

    &__title {}

    &__text {
        font-size: 1rem;
        text-align: justify;
        line-height: 1.5rem;
        padding: 0 1.5rem 1.5rem;
    }
}

.contact {
    grid-area: contact;
    background: $bg_block;
    border-radius: $br_block;

    &__title {}

    &__item {
        padding: 0 1.5rem 0.5rem 1.5rem;
        display: flex;
    }

    &__icon {
        width: 1.1875rem;
        height: 1.1875rem;
    }

    &__name {
        font-size: 1rem;
        flex-grow: 1;
        padding-left: 0.5rem;
    }

    &__value {
        font-size: 1rem;
    }

    &__value-link {
        color: black;
        text-decoration: none;
    }
}

.projects {
    grid-area: projects;
    background: $bg_block;
    border-radius: $br_block;

    &__title {}

    &__item {
        margin: 0 1.5rem 1.5rem;
        padding: 1rem 1.5rem;

        background: $bg_block_el;
        border-radius: $br_block_el;

        display: grid;
        grid-template-columns: 16.125rem 1fr;
        grid-template-rows: 6rem;
        gap: 1.5rem;
    }

    &__left-side {}

    &__name {
        font-size: 1.125rem;
        font-weight: 700;
    }

    &__link-group {
        padding: 0.25rem 0 0.4375rem 0;
    }

    &__source {
        display: inline-block;
        font-size: 1rem;
        color: $color_link;
        width: 3.0625rem;
    }

    &__link {
        display: inline-block;
        font-size: 1rem;
        color: $color_link;
        width: 1.5625rem;
    }

    &__tools-group {}

    &__tools {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 0.5rem;
        float: left;
    }

    &__description {
        font-size: 1rem;
        text-align: justify;
    }

    &__link-group--one-line {
        position: relative;
        top: -0.5rem;
        display: inline-block;
    }

    &__tools-group--one-line {
        display: inline-block;
        padding: 0.5625rem 0 0 0.25rem;
    }
}

// ********************

.skills {
    background: $bg_block;
    border-radius: $br_block;
    margin-top: 1.5rem;
    padding-bottom: 1.5rem;

    &__title {}

    &__mesh {
        display: grid;
        grid-template-columns: 24.5rem 26rem 24.5rem;
        grid-template-rows: repeat(3, 8rem);
        gap: 1.5rem;
        padding: 0 1.5rem;
    }

    &__element {
        background: $bg_block_el;
        border-radius: $br_block_el;
        padding: 1.5rem;

        display: grid;
        grid-template-columns: 5rem 1fr;
        grid-template-rows: 1.3125rem 1fr;
        grid-template-areas:
            "logo name"
            "logo description";
        gap: 0.6875rem 1.5rem;
    }

    &__logo {
        grid-area: logo;
        width: 5rem;
        height: 5rem;
    }

    &__name {
        grid-area: name;
        font-size: 1.125rem;
        font-weight: 700;
    }

    &__description {
        grid-area: description;
        font-size: 0.875rem;
    }

    &__element--small-size {
        padding-left: 1.125rem;
        gap: 0.6875rem 1.25rem;
    }

    &__element--big-text {
        gap: 0.3125rem 1.25rem;
    }
}

// ********************

.knowledge {
    margin-top: 1.5rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1.5rem;
}

.education {
    background: $bg_block;
    border-radius: $br_block;

    &__title {}

    &__history {
        display: grid;
        grid-auto-rows: 3.6875rem;
        gap: 1.5rem;
        padding: 0 1.5rem 1.5rem;
    }

    &__element {}

    &__name {
        font-size: 1rem;
        font-weight: 700;
    }

    &__description {
        font-size: 0.875rem;
        padding-top: 0.25rem;
    }
}

.academic-path {
    background: $bg_block;
    border-radius: $br_block;

    &__title {}

    &__list {
        padding: 0 1.5rem 1.5rem 3rem;
        font-size: 1rem;
    }

    &__list-element:not(:last-of-type) {
        padding-bottom: 0.4375rem;
    }
}

// ********************

.footer {
    margin-top: 1.5rem;
    padding: 1rem 0 1.5rem;

    background: $bg_block;
    border-radius: $br_block $br_block 0 0;

    display: grid;
    justify-items: center;
    gap: 0.5625rem;

    &__info {
        font-size: 1.5rem;
    }
}

// ********************

@media screen and (max-width: 1296px) {

    html,
    body {
        width: 81rem;
    }
}