@font-face {
    font-family: "Roboto";
    src: local(""), url("./Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: local(""), url("./Roboto-Regular-Bold.ttf") format("truetype");
    font-weight: 700;
}