@import url(../fonts/Roboto/Roboto.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 400 24px "Roboto", sans-serif;
}

/* Медиа-запрос, который активируется только при ширине экрана до 1030 пикселей */
@media screen and (max-width: 1030px) {
    body {
        font: 400 24px "Roboto", sans-serif;
        width: 1296px;
    }
}

.content {
    max-width: 1296px;
    margin: 0 auto;

    /* Для позиционирования head */
    position: relative;
}

header {
    background: #B59F7F;

    padding-bottom: 48px;
}

main {
    background: #F2DBAD;
    padding-top: 72px;
    padding-bottom: 88px;
}

footer {
    background: #B59F7F;

    padding: 28px 0 28px 0;
}

/* Заголовок */

nav {
    /* Размер лога + отступ сверху 89+23=112 */
    height: 112px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

nav a {
    font-size: 28px;
    color: #FFFFFF;

    /* Выключаем подсветку ссылки */
    text-decoration: none;

    background: #605545;
    line-height: 64px;
    width: 196px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.1);
}

.head {
    font-size: 22px;
    line-height: 48px;
    color: #000000;

    position: absolute;
    left: 880px;
    top: 0px;

    display: flex;
    justify-content: space-between;
    width: 416px;
}

.head__number {
    text-align: center;
    width: 197px;
}

.head__enter ul {
    list-style: none;
}

.head__enter li {
    position: relative;

    /* Талкаюсь справа, чтобы войти было посеридине над кнопкой "О нас" */
    padding-right: 52px;

    /* 32 = 16(размер шарика)+16(расстояние от него) */
    padding-left: 32px;
}

.head__enter li a {
    color: #000000;

    /* Выключаем подсветку ссылки */
    text-decoration: none;
}

.head__enter li::before {
    /* Обязательное свойство для псевдоэлемента */
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    background: url(../images/ball_enter.png);

    /* Элемент станет по центру */
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

/* ********* */

/* Основная часть */

.mesh {
    display: grid;

    grid-template-columns: 416px repeat(2, 306px);
    grid-template-rows: repeat(3, 472px);

    justify-content: space-between;

    /* Расстояние между ячейками по вертикали */
    grid-row-gap: 64px;
}

[class^="mesh__item"] {
    background: #B59F7F;
    border-radius: 20px;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.1);
}

.mesh__item3 {
    margin-left: 110px;
}

.mesh__item6 {
    margin-left: 110px;
}

/* Иноформация о доставке (в основной части) */

.delivery {
    color: #FFFFFF;

    padding-bottom: 16px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 472px;
}

.delivery__name {
    font-size: 56px;
    padding-left: 71px;
}

.delivery__time {
    font-size: 28px;
    padding-left: 24px;
}

.delivery__discount {
    font-size: 26px;
    padding-left: 24px;
}

.delivery__data {
    font-size: 26px;
    padding-left: 49px;
}

.delivery__telephone {
    font-size: 20px;
    padding-left: 24px;
}

.delivery_min {
    font-size: 20px;
    padding-left: 24px;
}

/* ----------------------------------------- */

/* Информация о блюдах (в основной части) */

.food {
    font-size: 40px;
    color: #000000;

    margin-top: 32px;
    margin-left: 22px;
    margin-right: 17px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 408px;
}

.food a {
    font-size: 36px;
    color: #FFFFFF;

    /* Выключаем подсветку ссылки */
    text-decoration: none;

    background: #605545;
    line-height: 80px;
    width: 267px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.1);
}

/* -------------------------------------- */

/* ************** */

/* Подвал */

.footer {
    font-size: 28px;
    color: #000000;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo {
    flex-basis: 416px;
}

.footer__address {
    padding-top: 20px;
    padding-bottom: 50px;
}

/* С помощью псевдоклассов выбираем первую ссылку в "footer__info" */
.footer__info a:first-of-type {
    margin-top: 23px;
    margin-bottom: 18px;

    display: block;
    font-size: 40px;
    color: #FFFFFF;

    /* Выключаем подсветку ссылки */
    text-decoration: none;

    background: #605545;
    line-height: 64px;
    width: 306px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.1);
}

/* С помощью псевдоклассов выбираем все, кроме первой и последний ссылки-картинки в "footer__info" */
.footer__info a:not(:first-of-type):not(:last-of-type) {
    float: left;
    display: inline;
    padding-right: 16px;
}

.footer__info a img {
    border-radius: 20px;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.1);
}

/* ****** */