@import url(../fonts/Roboto/Roboto.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font: 400 24px "Roboto", sans-serif;
}

.content {
  max-width: 54rem;
  margin: 0 auto;
  position: relative;
}

.header {
  background: #B59F7F;
  padding-bottom: 2rem;
}

.navigation {
  height: 4.6666666667rem;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.navigation__logo {
  flex-basis: 8.1666666667rem;
}
.navigation__element {
  font-size: 1.1666666667rem;
  color: #FFFFFF;
  text-decoration: none;
  background: #605545;
  line-height: 2.6666666667rem;
  width: 8.1666666667rem;
  text-align: center;
  border-radius: 0.8333333333rem;
  box-shadow: 0.3333333333rem 0.3333333333rem 0.4166666667rem rgba(0, 0, 0, 0.1);
}

.head {
  font-size: 0.9166666667rem;
  line-height: 2rem;
  color: #000000;
  position: absolute;
  left: 36.6666666667rem;
  top: 0;
  display: flex;
  width: 17.3333333333rem;
}
.head__number {
  width: 8.2083333333rem;
  padding: 0.0416666667rem 0 0 0.375rem;
}
.head__enter {
  position: relative;
  margin-left: 3.0416666667rem;
  padding: 0.0416666667rem 0 0 1.375rem;
  color: #000000;
  text-decoration: none;
}
.head__enter::before {
  content: "";
  display: block;
  position: absolute;
  width: 0.6666666667rem;
  height: 0.6666666667rem;
  background: #685631;
  border-radius: 0.1666666667rem;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.main {
  background: #F2DBAD;
  padding: 3rem 0 3.5rem 0;
}

.mesh {
  display: grid;
  grid-template-columns: 17.3333333333rem repeat(2, 12.75rem);
  grid-template-rows: repeat(3, 19.6666666667rem);
  justify-content: space-between;
  grid-row-gap: 2.6666666667rem;
}
.mesh__item {
  background: #B59F7F;
  border-radius: 0.8333333333rem;
  box-shadow: 0.3333333333rem 0.3333333333rem 0.4166666667rem rgba(0, 0, 0, 0.1);
}
.mesh__item--change-size {
  margin-left: 4.5833333333rem;
}

.delivery {
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 19.6666666667rem;
}
.delivery__name {
  font-size: 2.3333333333rem;
  padding-left: 2.9583333333rem;
}
.delivery__time {
  font-size: 1.1666666667rem;
  padding: 0.375rem 0 0 1rem;
}
.delivery__discount {
  font-size: 1.0833333333rem;
  padding: 0.2083333333rem 0 0 1rem;
}
.delivery__data {
  font-size: 1.0833333333rem;
  padding: 0 0 0 2.0416666667rem;
}
.delivery__telephone {
  font-size: 0.8333333333rem;
  padding: 0.1666666667rem 0 0 1rem;
}
.delivery__min {
  font-size: 0.8333333333rem;
  padding: 0 0 0.625rem 1rem;
}

.food {
  font-size: 1.6666666667rem;
  color: #000000;
  margin-top: 1.3333333333rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 17rem;
}
.food__image {
  width: 11.0833333333rem;
  height: 8.3333333333rem;
}
.food__buy {
  font-size: 1.5rem;
  color: #FFFFFF;
  text-decoration: none;
  background: #605545;
  line-height: 3.3333333333rem;
  width: 11.0833333333rem;
  text-align: center;
  border-radius: 0.8333333333rem;
  box-shadow: 0.3333333333rem 0.3333333333rem 0.4166666667rem rgba(0, 0, 0, 0.1);
}

.footer {
  background: #B59F7F;
  padding: 1rem 0 1rem 0;
}

.site-footer {
  font-size: 1.1666666667rem;
  color: #000000;
  display: flex;
  justify-content: space-between;
}
.site-footer__logo {
  flex-basis: 17.3333333333rem;
}
.site-footer__address {
  padding-top: 0.9583333333rem;
}
.site-footer__telephone {
  padding: 1.9583333333rem 0 0 0.0416666667rem;
}
.site-footer__link-about {
  margin: 0.9583333333rem 0 0.75rem 0;
  display: block;
  font-size: 1.6666666667rem;
  color: #FFFFFF;
  text-decoration: none;
  background: #605545;
  line-height: 2.6666666667rem;
  width: 12.75rem;
  text-align: center;
  border-radius: 0.8333333333rem;
  box-shadow: 0.3333333333rem 0.3333333333rem 0.4166666667rem rgba(0, 0, 0, 0.1);
}
.site-footer__link-social:not(:last-of-type) {
  float: left;
  margin-right: 0.6945833333rem;
}
.site-footer__social-image {
  width: 2.6666666667rem;
  height: 2.6666666667rem;
  border-radius: 0.8333333333rem;
  box-shadow: 0.3333333333rem 0.3333333333rem 0.4166666667rem rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 1030px) {
  html,
  body {
    width: 54rem;
  }
}