@import url(../fonts/Roboto/Roboto.css);
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font: 400 1rem "Roboto", sans-serif;
}

.wrapper {
  padding-top: 1.5rem;
  background: #D5BDAF;
}

.content {
  max-width: 81rem;
  margin: 0 auto;
}

.title {
  font: 400 1.5rem "Roboto", sans-serif;
  padding: 1rem 0;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 26rem 53.5rem;
  grid-template-rows: 24rem 12.75rem 11.5rem;
  grid-template-areas: "info projects" "about-me projects" "contact projects";
  gap: 1.5rem;
}

.info {
  grid-area: info;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.info__photo {
  width: 15.125rem;
  height: 15.125rem;
}
.info__name {
  font: 400 2rem "Roboto", sans-serif;
}
.info__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 17.5rem;
}
.info__link-social {
  margin-bottom: -0.3125rem;
}
.info__social-image {
  width: 3.5rem;
  height: 3.5rem;
}

.about-me {
  grid-area: about-me;
  background: #E3D5CA;
  border-radius: 1rem;
}
.about-me__text {
  font-size: 1rem;
  text-align: justify;
  line-height: 1.5rem;
  padding: 0 1.5rem 1.5rem;
}

.contact {
  grid-area: contact;
  background: #E3D5CA;
  border-radius: 1rem;
}
.contact__item {
  padding: 0 1.5rem 0.5rem 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contact__icon {
  width: 1.1875rem;
  height: 1.1875rem;
}
.contact__name {
  font-size: 1rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-left: 0.5rem;
}
.contact__value {
  font-size: 1rem;
}
.contact__value-link {
  color: black;
  text-decoration: none;
}

.projects {
  grid-area: projects;
  background: #E3D5CA;
  border-radius: 1rem;
}
.projects__item {
  margin: 0 1.5rem 1.5rem;
  padding: 1rem 1.5rem;
  background: #D5BDAF;
  border-radius: 0.625rem;
  display: grid;
  grid-template-columns: 16.125rem 1fr;
  grid-template-rows: 6rem;
  gap: 1.5rem;
}
.projects__name {
  font-size: 1.125rem;
  font-weight: 700;
}
.projects__link-group {
  padding: 0.25rem 0 0.4375rem 0;
}
.projects__source {
  display: inline-block;
  font-size: 1rem;
  color: #C1121F;
  width: 3.0625rem;
}
.projects__link {
  display: inline-block;
  font-size: 1rem;
  color: #C1121F;
  width: 1.5625rem;
}
.projects__tools {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  float: left;
}
.projects__description {
  font-size: 1rem;
  text-align: justify;
}
.projects__link-group--one-line {
  position: relative;
  top: -0.5rem;
  display: inline-block;
}
.projects__tools-group--one-line {
  display: inline-block;
  padding: 0.5625rem 0 0 0.25rem;
}

.skills {
  background: #E3D5CA;
  border-radius: 1rem;
  margin-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.skills__mesh {
  display: grid;
  grid-template-columns: 24.5rem 26rem 24.5rem;
  grid-template-rows: repeat(3, 8rem);
  gap: 1.5rem;
  padding: 0 1.5rem;
}
.skills__element {
  background: #D5BDAF;
  border-radius: 0.625rem;
  padding: 1.5rem;
  display: grid;
  grid-template-columns: 5rem 1fr;
  grid-template-rows: 1.3125rem 1fr;
  grid-template-areas: "logo name" "logo description";
  gap: 0.6875rem 1.5rem;
}
.skills__logo {
  grid-area: logo;
  width: 5rem;
  height: 5rem;
}
.skills__name {
  grid-area: name;
  font-size: 1.125rem;
  font-weight: 700;
}
.skills__description {
  grid-area: description;
  font-size: 0.875rem;
}
.skills__element--small-size {
  padding-left: 1.125rem;
  gap: 0.6875rem 1.25rem;
}
.skills__element--big-text {
  gap: 0.3125rem 1.25rem;
}

.knowledge {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1.5rem;
}

.education {
  background: #E3D5CA;
  border-radius: 1rem;
}
.education__history {
  display: grid;
  grid-auto-rows: 3.6875rem;
  gap: 1.5rem;
  padding: 0 1.5rem 1.5rem;
}
.education__name {
  font-size: 1rem;
  font-weight: 700;
}
.education__description {
  font-size: 0.875rem;
  padding-top: 0.25rem;
}

.academic-path {
  background: #E3D5CA;
  border-radius: 1rem;
}
.academic-path__list {
  padding: 0 1.5rem 1.5rem 3rem;
  font-size: 1rem;
}
.academic-path__list-element:not(:last-of-type) {
  padding-bottom: 0.4375rem;
}

.footer {
  margin-top: 1.5rem;
  padding: 1rem 0 1.5rem;
  background: #E3D5CA;
  border-radius: 1rem 1rem 0 0;
  display: grid;
  justify-items: center;
  gap: 0.5625rem;
}
.footer__info {
  font-size: 1.5rem;
}

@media screen and (max-width: 1030px) {
  html,
  body {
    width: 81rem;
  }
}