@import url(../fonts/Roboto/Roboto.css);
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font: 400 1rem "Roboto", sans-serif;
}

.wrapper {
  padding-top: 24px;
  background: #D5BDAF;
}

.content {
  max-width: 81rem;
  margin: 0 auto;
}

.title {
  font: 400 24px "Roboto", sans-serif;
  padding: 16px 0 16px 0;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 416px 856px;
  grid-template-rows: 384px 204px 184px;
  grid-template-areas: "info projects" "about-me projects" "contact projects";
  gap: 24px;
}

.info {
  grid-area: info;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.info__photo {
  width: 242px;
  height: 242px;
}
.info__name {
  font: 400 32px "Roboto", sans-serif;
}
.info__link {
  display: flex;
  justify-content: space-between;
  width: 280px;
}
.info__link-social {
  margin-bottom: -5px;
}
.info__social-image {
  width: 56px;
  height: 56px;
}

.about-me {
  grid-area: about-me;
  background: #E3D5CA;
  border-radius: 1rem;
}
.about-me__text {
  font-size: 16px;
  text-align: justify;
  line-height: 24px;
  padding: 0px 24px 24px 24px;
}

.contact {
  grid-area: contact;
  background: #E3D5CA;
  border-radius: 1rem;
}
.contact__item {
  padding: 0 24px 8px 24px;
  display: flex;
}
.contact__icon {
  width: 19px;
  height: 19px;
}
.contact__name {
  font-size: 16px;
  flex-grow: 1;
  padding-left: 8px;
}
.contact__value {
  font-size: 16px;
}

.projects {
  grid-area: projects;
  background: #E3D5CA;
  border-radius: 1rem;
}
.projects__item {
  margin: 0 24px 24px 24px;
  padding: 16px 24px 16px 24px;
  background: #D5BDAF;
  border-radius: 0.625rem;
  display: grid;
  grid-template-columns: 258px 1fr;
  grid-template-rows: 96px;
  gap: 24px;
}
.projects__name {
  font-size: 18px;
  font-weight: 700;
}
.projects__link-group {
  padding: 4px 0 7px 0;
}
.projects__source {
  display: inline-block;
  font-size: 16px;
  color: #C1121F;
  width: 49px;
}
.projects__link {
  display: inline-block;
  font-size: 16px;
  color: #C1121F;
  width: 25px;
}
.projects__tools {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  float: left;
}
.projects__description {
  font-size: 16px;
  text-align: justify;
}
.projects__link-group--one-line {
  position: relative;
  top: -8px;
  display: inline-block;
}
.projects__tools-group--one-line {
  display: inline-block;
  padding: 9px 0 0 4px;
}

.skills {
  background: #E3D5CA;
  border-radius: 1rem;
  margin-top: 24px;
  padding-bottom: 24px;
}
.skills__mesh {
  display: grid;
  grid-template-columns: 392px 416px 392px;
  grid-template-rows: repeat(3, 128px);
  gap: 24px;
  padding: 0 24px;
}
.skills__element {
  background: #D5BDAF;
  border-radius: 0.625rem;
  padding: 24px;
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-template-rows: 21px 1fr;
  grid-template-areas: "logo name" "logo description";
  gap: 11px 24px;
}
.skills__logo {
  grid-area: logo;
  width: 80px;
  height: 80px;
}
.skills__name {
  grid-area: name;
  font-size: 18px;
  font-weight: 700;
}
.skills__description {
  grid-area: description;
  font-size: 14px;
}
.skills__element--small-size {
  padding-left: 18px;
  gap: 11px 20px;
}
.skills__element--big-text {
  gap: 5px 20px;
}